# Build output
target/

# Claude Code configs locais
.claude/

# Maven
.mvn/
!.mvn/wrapper/

# IDEs
.idea/
*.iml
.vscode/
*.classpath
*.project
.settings/

# OS
.DS_Store
Thumbs.db

# Local infra/tooling (nao versionar)
infra/
data-engineer-streaming/
apache-maven-3.9.6/
apache-maven-3.9.6-bin.tar.gz
snowflake-sink-connector-1.0.0.jar
