# Build output
target/

# Claude Code configs locais
.claude/

# Maven
.mvn/
!.mvn/wrapper/

# IDEs
.idea/
*.iml
.vscode/
*.classpath
*.project
.settings/

# OS
.DS_Store
Thumbs.db
apache-maven-3.9.6/\napache-maven-3.9.6-bin.tar.gz
